In [27]:
import pandas as pd
import pickle
import string
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import os

In [29]:
#Upload each translated urdu tweet text file of 50K tweets
one = pd.read_excel("urdu 0-50000.xlsx")

In [30]:
two = pd.read_excel("urdu 50000-100000.xlsx")

In [83]:
twopointfive = pd.read_excel("urdu 100000-150000.xlsx")

In [31]:
three = pd.read_excel("urdu 150000-200000.xlsx")

In [33]:
four = pd.read_excel("urdu 200000 - 250000.xlsx")

In [34]:
five = pd.read_excel("urdu 250000-300000.xlsx")

In [35]:
six = pd.read_excel("urdu 300000-350000.xlsx")

In [36]:
seven = pd.read_excel("urdu 350000-400000.xlsx")

In [37]:
eight = pd.read_excel("urdu 400000-450000.xlsx")

In [38]:
nine = pd.read_excel("urdu 450000-500000.xlsx")

In [39]:
ten = pd.read_excel("urdu 500000-550000.xlsx")

In [40]:
eleven = pd.read_excel("urdu 550000-600000.xlsx")

In [41]:
twelve = pd.read_excel("urdu 600000-650000.xlsx")

In [42]:
thirteen = pd.read_excel("urdu 650000-700000.xlsx")

In [43]:
fourteen = pd.read_excel("urdu 700000-750000.xlsx")

In [44]:
fifteen = pd.read_excel("urdu 750000-800000.xlsx")

In [45]:
sixteen = pd.read_excel("urdu 800000-850000.xlsx")

In [46]:
seventeen = pd.read_excel("urdu 850000-900000.xlsx")

In [47]:
eighteen = pd.read_excel("urdu 900000-950000.xlsx")

In [48]:
nineteen = pd.read_excel("urdu 950000-1000000.xlsx")

In [49]:
twenty = pd.read_excel("urdu 1000000-1050000.xlsx")

In [50]:
twentyone = pd.read_excel("urdu 1050000-1100000.xlsx")

In [53]:
twentytwo = pd.read_excel("urdu 1100000-1150000.xlsx")

In [54]:
twentythree = pd.read_excel("urdu 1150000-1200000.xlsx")

In [55]:
twentyfour = pd.read_excel("urdu 1200000-1250000.xlsx")

In [56]:
twentyfive = pd.read_excel("urdu 1250000-1300000.xlsx")

In [57]:
twentysix = pd.read_excel("urdu 1300000-1350000.xlsx")

In [58]:
twentyseven = pd.read_excel("urdu 1350000-1400000.xlsx")

In [59]:
twentyeight = pd.read_excel("urdu 1400000-1450000.xlsx")

In [60]:
twentynine = pd.read_excel("urdu 1450000-1500000.xlsx")

In [61]:
thirty = pd.read_excel("urdu 1500000-1550000.xlsx")

In [62]:
thirtyone = pd.read_excel("urdu 1550000-1600000.xlsx")

In [63]:
thirtytwo = pd.read_excel("urdu 1600000-1650000.xlsx")

In [64]:
thirtythree = pd.read_excel("urdu 1650000-1700000.xlsx")

In [66]:
thirtyfour = pd.read_excel("urdu 1700000-1750000.xlsx")

In [67]:
thirtyfive = pd.read_excel("urdu 1750000-1800000.xlsx")

In [68]:
thirtysix = pd.read_excel("urdu 1850000-1900000.xlsx")

In [69]:
thirtyseven = pd.read_excel("urdu 1900000-1950000.xlsx")

In [70]:
thirtyeight = pd.read_excel("urdu 1950000-2000000.xlsx")

In [71]:
thirtynine = pd.read_excel("urdu 2000000-2050000.xlsx")

In [72]:
forty = pd.read_excel("urdu 2050000-2100000.xlsx")

In [84]:
#Concatenate all urdu translated tweets and save
urdu_translated = pd.concat([one, two, twopointfive, three, four, five, six, seven, eight, nine, ten, eleven, twelve, thirteen, fourteen, fifteen, sixteen, seventeen, eighteen, nineteen, twenty, twentyone, twentytwo, twentythree, twentyfour, twentyfive, twentysix, twentyseven, twentyeight, twentynine, thirty, thirtyone, thirtytwo, thirtythree, thirtyfour, thirtyfive, thirtysix, thirtyseven, thirtyeight, thirtynine, forty], ignore_index=True)
urdu_translated = urdu_translated.drop(columns=["Unnamed: 0", "Unnamed: 1"])
with open("kp_tweets_urdu_translated.pickle", "wb") as f:
    pickle.dump(urdu_translated, f)

/home/dval/.conda/envs/symbolic/lib/python3.5/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.